.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
  }
  
  .page-content {
    padding: 24px;
    overflow-y: auto;
    flex-grow: 1;
  }